---
layout: header
---


<div class="container-fluid">


  <div class="row-fluid">

        <div class="col-md-3">
            <br>
            <br>
            <img src="/assets/images/Foto para teams.JPG" alt="profile picture"  class="resize" align="middle"/>
            <h2 class="name">Camilo <br>
            Arias</h2>
            <!-- <h3 class="tagline">PhD Candidate</h3> -->
          
          <ul class="list-unstyled">
                <li class="email"><i class="fa fa-envelope"></i> camilo.arias (at) unisabana.edu.co</li>

                <li class="email"><i class="fa fa-envelope"></i> ca.arias973 (at)uniandes.edu.co </li>

          
            </ul>
        </div>

        <!-- ##################-->
        <!-- content -->
        <!-- ##################-->
        <div class="col-md-9"> {{ content }} </div>

</div>
</div>
